:root {
    --fuentenombre: 'Trade Winds';
    --fuenteparrafo: 'Kanit', sans-serif;
    --fuentetitulo: 'Orbitron';
    --primario: #57b3ffd0;
    --secundario: #021a1e;
    --gris: #dbdbdb;
    --grisoscuro: #3b3b3b;
    --blanco: #ffffff;
    --negro: #001229;
    --fondofijo: #113846;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    line-height: 2;
    background-color: var(--secundario);
}
@media (min-width: 768px) {
    .body-scroll {
        padding-top: 5rem;
    }
}
a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
h2 {
    color: var(--gris);
    margin: 0 auto;
    font-size: 3rem;
    line-height: 1;
    padding: .5rem 1.5rem 0 1.5rem;
}
h3 {
    color: var(--primario);
    font-size: 2.5rem;
    font-family: var(--fuentetitulo);
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
img {
    width: 100%;
}
p {
    color: var(--gris);
    font-size: 1.8rem;
    font-family: var(--fuenteparrafo);
    padding: 0;
    margin: 1rem 0;
    text-align: center;
}
.header {
        background: rgba(0, 0, 0, 0.8);
        background-image: url(../img/1500.avif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-blend-mode: darken;
        padding-bottom: 4rem;
}
@media (min-width: 768px) {
    .header {
        height: 100%;
        margin: 0 auto;
    }
}
.barra {
    display: block;
    align-items: center;
    padding: 1rem 3rem;
    margin: 0 auto;
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .fijo {
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: var(--fondofijo);
    }
}
.navegacion {
    display: block;
}
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 3rem;
    }
}
.enlace-navegacion {
    display: block;
    text-align: center;
    color: var(--primario);
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--fuentetitulo);
    width: 17rem;
    margin: 1.5rem auto;
}
.enlace-navegacion:hover {
    color: var(--gris);
}
@media (min-width: 768px) {
    .enlace-navegacion {
        padding: 0;
        margin: 0;
        width: auto;
    }
}
.presentacion {
    font-family: var(--fuentenombre);
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .presentacion {
        margin: 10rem 0 0 0;
    }
}
.nombre {
    font-family: var(--fuentenombre);
    font-size: 6rem;
    margin: 0 auto;
    color: var(--primario);
    line-height: 1.1;
    padding: 0;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .contenedor{
        width: 70%;
        padding: 0;
    }
}
.descripcion {
    display: block;
    padding-top: 3rem;
    align-items: center;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .descripcion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-top: 4rem;
    }
}
.imagen-descripcion {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.texto-descripcion {
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    padding: 5rem 1.5rem;
}
@media (min-width: 768px) {
    .texto-descripcion {
        margin: 0 auto;
        padding: 0;
    }
}
.titulo-descripcion {
    padding-bottom: 3rem;
}
@media (min-width: 768px) {
    .titulo-descripcion{
        text-align: left;
        padding-bottom: 3.5rem;
    }
}
@media (min-width: 768px) {
    .parrafo-descripcion {
        text-align: left;
    }
}


.main {
    margin: 0 auto;
    background: rgb(6,57,65);
    background: linear-gradient(0deg, rgba(6,57,65,1) 0%, rgba(2,26,30,1) 100%);
}
@media (min-width: 480px) {
    .main {
        padding: 5rem;
    }
}
@media (min-width: 992px) {
    .main {
        padding: 0 10rem;
    }
}
.titulo-proyectos {
    padding: 2rem 0;
}
.seccion-proyectos{
    padding: 3rem 0;
}
@media (min-width: 768px) {
    .seccion-proyectos {
        padding: 7rem 0;
    }
}
.proyectos {
    padding: 3rem 0;
}
@media (min-width: 768px) {
    .proyectos {
        padding-top: 7rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 8rem;
    }
}
@media (min-width: 992px) {
    .proyectos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.proyecto {
    min-width: 24rem;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--grisoscuro);
    padding: .7rem;
    border-radius: 4%;
    margin: 0 auto 5rem;
}
@media (min-width: 768px) {
    .proyecto {
        margin: 0 auto;
    }
}
.contenedor-visitar {
    margin: .3rem 0;
}
.boton-visitar {
    background-color: var(--primario);
    color: var(--secundario);
    font-family: var(--fuentetitulo);
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: .5rem;
    padding: 0.8rem;
}
.boton-visitar:hover {
    background-color: var(--secundario);
    color: var(--gris);
}
.imagenes-proyecto {
    height: 225px;
    width: 225px;
    filter: brightness(70%);
}
.imagenes-proyecto:hover {
    filter: brightness(100%);
}


.habilidad {
    width: 100px;
    height: 150px;
    margin: 0 auto;
}
.mis-habilidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding:  7rem 1rem 0 1rem;
    column-gap: 1rem;
    row-gap: 4rem;
}
@media (min-width: 480px) {
    .mis-habilidades {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 768px) {
    .mis-habilidades {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}


.seccion-contactos {
    margin: 0 1rem;
    padding-top: 7rem;
}
.contactos {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding: 4rem 0;
}
@media (min-width: 480px) {
    .contactos {
        column-gap: 3rem;
    }
}
.contenedor-enlace {
    margin: 2rem;
}
@media (min-width: 480px) {
    .contenedor-enlace {
        margin: 0;
    }
}
.iconos {
    border-radius: 50%;
    width: 50px;
}
.gmail {
    background-color: var(--blanco);
}


.footer {
    background-color: var(--primario);
}
.parrafo-footer{
    color: var(--secundario);
    margin: 0;
}